datasets/examples/asos-airports/fr-wind_direction.csv
datasets/examples/asos-airports/fr-air_temperature.csv
datasets/examples/asos-airports/fr-wind_direction.csv
datasets/examples/asos-airports/fr-air_temperature.csv
